
<div class="form-container">
    <h5>{{data}}</h5>
    <h1 class="text-center mt-3">Login</h1>
    <img src="https://i.postimg.cc/GpmgB8c1/101-1016890-icon-bank-logo-png-transparent-png.png" alt="" width="150px" >
    <form action="" class="text-center">
    <input [(ngModel)]="acno" type="text" [placeholder]="pdata" id="u1" name="accountNumber">
    <!-- <div *ngIf="(this.loginFrm.get('acno')?.errors) && (this.loginFrm.get('acno')?.touched)">
        <p class="text-danger">must contain numbers only</p>
    </div> -->
    <input [(ngModel)]="passwd" type="password" placeholder="password" id="p1" name="pass">
    <button class="mt-4 btn btn-success" (click) = "login()">login</button>
    <p class="mt-3">New ?<a href="" routerLink="register"> Register</a></p>
    </form>
</div>

